.App {
  text-align: center;
}
.navBtns{

display: flex;
justify-content: space-between;
width: 150px;

margin-left: 500px;

}
img {
  height: 150px;
  width: 150px;
}
Nav.Link{

  text-decoration: none; 
}
.auth-buttons {
  display: flex;
  justify-content: space-around;
  margin-right: 6px;
}
.login {
  margin-left: 50px;
}
.Navbar-container {
  margin-bottom: 10px;
}